@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary: 121 62 249;
    --primary-focus: 80 19 184;
    --secondary: 217 39 169;
    --secondary-focus: 173 31 134;
    --success: 28 187 43;
    --success-focus: 12 150 25;
    --danger: 222 70 70;
    --danger-focus: 186 37 37;
    --warning: 255 150 52;
    --warning-focus: 224 120 23;
    --info: 72 128 255;
    --info-focus: 47 95 203;
    --light: 226 232 240;
    --light-focus: 193 202 213;
    --dark: 51 65 84;
    --dark-focus: 32 43 57;
}
